:root {
  --bg-color: #add716;
}

.body {
  font-family: "Oswald", "Arial", sans-serif;

  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  background: rgba(28, 183, 14, 0.75);

  border-radius: 70px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 900px) {
    height: 120px;
    border-radius: 0;
  }

  @media (max-width: 500px) {
    height: auto;
    padding-bottom: 12px;
  }
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 45px;
  width: fit-content;

  @media (max-width: 900px) {
    flex-direction: row;
    margin-top: 12px;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.navigation__item {
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3 ease-in-out;

  &:hover {
    color: var(--bg-color);
  }
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  text-transform: uppercase;

  @media (max-width: 900px) {
    margin-top: 12px;
  }
}

.name__colored {
  color: #f2c94c;
  font-size: inherit;
}

.social {
  background-color: #f2c94c;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  gap: 24px;
  height: 40px;
  justify-content: space-between;
  padding: 0 12px;
  position: fixed;
  right: 100px;
  top: 0;
  z-index: 5;

  @media (max-width: 500px) {
    left: 0;
    right: auto;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 48px;
}

.page {
  display: flex;

  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 35px;
  margin-right: 35px;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.text1 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 80px;
  text-transform: uppercase;
  margin-left: 130px;
}

.text2 {
  margin-left: 40px;
  margin-right: 40px;
}

.image {
  border: 3px solid gold;
}
.bold {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 24px;
}
.resume {
  font-size: large;
  gap: 45px;
}
.page_left {
  display: flex;

  font-size: 30px;
  font-weight: 500;
  margin-top: 40;
  margin-bottom: 60px;
  text-transform: uppercase;
  margin-left: 35px;
  margin-right: 35px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.page_about {
  display: flex;

  font-size: 30px;
  font-weight: 500;
  margin-top: 40;
  margin-bottom: 60px;
  text-transform: uppercase;
  margin-left: 35px;
  margin-right: 35px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.images {
  display: flex;
  gap: 24px;
  margin-top: 48px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}
.images__image {
  border-radius: 10px;
  border: 3px gold solid;
  box-shadow: 0 0 5px #444;
}
